# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
*.lcov

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
.yarn-integrity
.env
.env*.local
.vercel
.idea
*.tsbuildinfo
next-env.d.ts
